---

---

<span
  class="bg-brand-bg text-brand-malibu border-brand-malibu/20 shadow-brand-bg/10 mb-4 inline-block rounded-full border px-3 py-1 text-xs leading-5 font-semibold uppercase shadow-sm dark:border-brand-malibu/30 dark:bg-brand-malibu/10"
>
  <slot />
</span>
