---
// utils
import { getLocalizedRoute } from "@js/translationUtils";
import { getLocaleFromUrl } from "@js/localeUtils";
import { slugify } from "@js/textUtils";
import { formatBlogCategoryLabel } from "@js/blogCategoryLabels";

interface Props {
  category: string;
}

const { category } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<a
  class="bg-brand-cruise/60 text-brand-bg shadow-base-200/20 hover:bg-brand-botticelli/80 dark:bg-brand-malibu/10 dark:text-brand-malibu dark:hover:bg-brand-malibu/20 inline-block rounded-full px-3 py-1 text-xs leading-5 font-semibold uppercase shadow-sm transition-colors dark:shadow-none"
  href={getLocalizedRoute(currLocale, `/categories/${slugify(category)}`)}
>
  {formatBlogCategoryLabel(category, currLocale)}
</a>
